@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --text: #000000;
  --bg: #fff;
 
  --sans: system-ui, 'Segoe UI', 'Roboto', sans-serif;
  --heading: system-ui, 'Segoe UI', 'Roboto', sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --button: system-ui, 'Segoe UI', 'Roboto', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

  code,
  .counter {
    font-family: var(--mono);
    display: inline-flex;
    border-radius: 4px;
    color: var(--text-h);
  }

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

button {
  font-family: inherit;
  background-color: #000000;
  color: #ffffff;

  border: 2px solid #000000;  
  border-radius: 0;            

  padding: 10px 20px;

  cursor: pointer;

  appearance: none;            
  -webkit-appearance: none;    
  box-shadow: none;            
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

button:disabled {
  background-color: #DDDDDD;
  color: #565656;
  cursor: not-allowed;
  border-color: #DDDDDD;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
}